* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto;
    padding: 20px;
    text-align: center;
    background:#282a2b; 
    color: #a7a3a3; /* Dark Gray for text */
  }

  @keyframes shimmer {
    0% {
      background-position: -500px 0;
    }
    100% {
      background-position: 500px 0;
    }
  }
  .shimmering-text {
    display: inline-block;
    background: linear-gradient(to right, #a7a3a3 20%, #fff 40%, #a7a3a3 60%);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-fill-color: transparent; /* For Safari */
    animation: shimmer 4s linear infinite;
  }
.header {
    display: flex;
    align-items: left;
    justify-content: center;
    padding-right: 10px;
    padding-left: 0px;
    padding-bottom: 155px;
    font-size: 8vh;
    text-align: left;
    background: #282a2b; /* Deep Blue */
    color: rgb(209, 204, 204);
}

.header img {
    margin-left: 20px; /* Adjust the space between the text and the image */
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .sadiqImage {
    background-color: #aaa;
    width:40%;
    padding: 2px;
  }

  .card {
    opacity: 1;
    background-color: #282a2b;
    visibility: hidden;
    transition: opacity 2s, visibility 0.6s;
    transition-delay: 0.2s;
    /* other styles for .card */
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}
  
  .card-link {
    text-decoration: none;
    background-color: #FF6F61; /* Coral for buttons and CTA */
    color: white;
  }


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #282a2b; /* Deep Blue */
    color: white;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }