{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sadiq Khawaja</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homePage/css/homePage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div>
            <h1>Sadiq</h1>
            <h1>Khawaja</h1>
        </div>
        <img class = "sadiqImage" src="{% static 'homePage/images/obviouslyMe.png' %}" alt="Sadiq Khawaja">
        </div>
    </div>
    <div class="shimmering-text">
        <p>Scroll to view projects</p>
    </div>
    <div class="card">
        <h2>GrocerLyst</h2>
        <div class="fakeimg" style="height:200px;">Image 1</div>
        <p>As part of a 4 person group, I developed the backend and recommendation engine in GrocerLyst, a collaborative shopping list web app that </p>
        <p>encourages healthy eating</p>
    </div>

    <div class="card">
        <h2>GFF viewer </h2>
        <div class="fakeimg" style="height:200px;">Image 2</div>
        <p>A command line bioinformatics project that takes gff files from Prokka and Bakta outputs and converts them into PNGs</p>
    </div>

    <div class="card">
        <h2>Red like Ohio </h2>
        <div class="fakeimg" style="height:200px;">Image 2</div>
        <p>An exploration into why Ohio, a traditional swing state, is turning into a Republican stronghold</p>
        </div>

    <div class="card">
        <h2> Quokka </h2>
        <div class="fakeimg" style="height:200px;">Image 2</div>
        <p> A web app that uses an LLM to turn text inputs into flashcards</p>
        </div>

    </div>
    <script>
    window.addEventListener('scroll', function() {
        var cards = document.querySelectorAll('.card');
        var windowHeight = window.innerHeight;

        cards.forEach(function(card) {
            var cardPosition = card.getBoundingClientRect().top;
            var screenPosition = windowHeight / 5;

            // Calculate the opacity based on how much of the card is visible
            // Adjust the multiplier (e.g., 1.5) to control how quickly the opacity changes
            var opacity = Math.min(1, (windowHeight - cardPosition) / (windowHeight - screenPosition) * 1.5);

            if (cardPosition < windowHeight) {
                card.style.opacity = opacity;
                if (opacity > 0) {
                    card.style.visibility = 'visible';
                }
            }
        });
    });

        </script>
</body>
</html>
