{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sadiq Khawaja</title>
    <link rel="stylesheet" type="text/css" href="{% static 'homePage/css/homePage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

</head>
<body>
    <div class="header">
        <div>
            <h1>Sadiq</h1>
            <h1>Khawaja</h1>
        </div>
        <img class = "sadiqImage" src="{% static 'homePage/images/obviouslyMe.png' %}" alt="Sadiq Khawaja">
    </div>
    </div>
    <div class="shimmering-text" style = "margin-bottom: 10vh;">
        <p>Scroll to view projects</p>
    </div>
    <div>
    
    </div>
    <ul>
        <li><a href="default">Updates</a></li>
        <li><a href="Thoughts">Thoughts</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="{% url 'about' %}">About Me</a></li>
    </ul>
    <a href = "https://goldfish-app-pmh37.ondigitalocean.app/" style="color: #a7a3a3; text-decoration: none;">
    <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/scholarAid.png' %}" alt="ScholarAid">
        </div>       
        
        <div class="text-content" style = "text-align: left;">
            <h2>ScholarAid</h2>
            <p>Solo development of a Django App that can generate and save flashcards.</p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> Django backend web development </p>
            <p> Advanced model implementation in Django </p>   
            <p> LLM Integration </p>
            <p> OpenAI API integration    </p>
            <p> Live deployment </p>
            <h2><i> Click Here to Visit</i></h2>
            <div class="light">
                <div class="flare"></div>
            </div>
        </div>
    </div>
    </a>
      <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/pseudomonas.png' %}" alt="Ohio">
        </div>       
        <div class="text-content" style = "text-align: left;">
            <h2>P.aeruginosa genome exploration</h2>
            <p>Bioinformatics project where I had to analyse relationships between strains of P.aeruginosa</p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> R </p>
            <p> Familiarity with Linux </p>   
            <p> Bash script development </p>
            <p>  Use of a range of bioinformatic tools   </p>
        </div>
    </div>
    <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/grocerlyst3.png' %}" alt="Ohio">
        </div>       
        <div class="text-content" style = "text-align: left;">
            <h2>GrocerLyst</h2>
            <p>As part of a team, I developed the backend and recommendation engine in GrocerLyst, a collaborative shopping list web app that encourages healthy eating</p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> Django backend web development </p>
            <p> Recommendation engine development </p>   
            <p> Agile Software development </p>
            <p> API integration     </p>
        </div>
    </div>
    <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/protein.png' %}" alt="Ohio">
        </div>
        <div class="text-content" style = "text-align: left;">
            <h2>GFF viewer</h2>
            <p>A command line bioinformatics project that takes gff files from Prokka and Bakta outputs and converts them into PNG </p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> Regex pattern matching </p>
            <p> Data parsing and manipulation </p>
            <p> Automating repetitive tasks </p>
            <p> File I/O management  </p>   
        </div>      
    </div>

    <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/usa.png' %}" alt="Ohio">
        </div>
        <div class="text-content">
            <h2>Branch Tracker</h2>
            <p>A simple visualisation tool to gain a full understanding of how control over the three branches of the US federal government has evolved over time</p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> Web scraping  </p>
            <p> Data visualisation and analysis </p>
            <p> GUI development </p>
        </div>      
    </div>
<!--
    <div class="card">
        <div>
            <img class="fakeimg" src="{% static 'homePage/images/Ohio.png' %}" alt="Ohio">
        </div>
        <div class="text-content">
            <h2>Red like Ohio</h2>
            <p>An exploration into why Ohio, a traditional swing state, is turning into a Republican stronghold using Jupyter notebooks</p>
        </div>
        <div class="text-content">
            <h2> Skills </h2>
            <p> Web scraping  </p>
            <p> Data visualisation and analysis </p>
            <p> Machine Learning </p>
            <p> Statistical Analyses  </p>   
        </div>      
    </div>
-->
    

    <div class="card">
        <h2></h2>
        <p></p>
        </div>
    </div>
    <script>
    window.addEventListener('scroll', function() {
        var cards = document.querySelectorAll('.card');
        var windowHeight = window.innerHeight;

        cards.forEach(function(card) {
            var cardPosition = card.getBoundingClientRect().top;
            var screenPosition = windowHeight / 5;

            // Calculate the opacity based on how much of the card is visible
            // Adjust the multiplier (e.g., 1.5) to control how quickly the opacity changes
            var opacity = Math.min(1, (windowHeight - cardPosition) / (windowHeight - screenPosition) * 1.5);

            if (cardPosition < windowHeight) {
                card.style.opacity = opacity;
                if (opacity > 0) {
                    card.style.visibility = 'visible';
                }
            }
        });
    });

        </script>
</body>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Sadiq Khawaja</h3>
            <p>Student at St George's University completing an undergraduate in biomedical science.</p>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- Additional links as needed -->
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <p>Email: khawajasadiq25@gmail.com</p>
            <!-- Other contact details -->
        </div>
        <div class="footer-section">
            <h3>Follow Me</h3>
            <p>Links to social media profiles like LinkedIn, GitHub, Twitter, etc.</p>
            <!-- Social media icons with links -->
        </div>
        </div>
        <div class="footer-section">
            <div class="footer-gallery">
                <!-- Small gallery or image grid -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Sadiq Khawaja. All Rights Reserved. All Images Made With Dall-E 3</p>
    </div>
</footer>

</html>
